$red: #f72215;
$green: #a0c409;
$blue: #1cb0d4;
$yellow: #ffd439;
$orange: #faa405;

.board-head {
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  background: $orange;
  .reset,
  .flag-count,
  .timer {
    width: 55px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reset {
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
    background: $blue;
  }
}
