@import 'components/BoardHead/base';
@import 'components/Board/base';
$red: #f72215;
$green: #a0c409;
$blue: #1cb0d4;
$yellow: #ffd439;
$orange: #faa405;
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  #root {
    height: 100%;
    background: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    .minesweeper {
      display: flex;
      flex-direction: column;
      height: 592px;
      h1 {
        text-align: center;
        border-left: 1px solid #444;
        border-top: 1px solid #444;
        border-right: 1px solid #444;
      }
    }
  }
}
